name: Run checks and make main.js

on:
  push:
    branches:
      - main

jobs:
  ensure-newline:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run newline script
        run: ./tools/ensure_newline.sh

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5.0.1
        with:
          commit_message: "[BOT] Ensure newlines"
          file_pattern: "js-src/*.js"
        
  build_main_js:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build main.js
        run: ./tools/build_main.sh

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5.0.1
        with:
          commit_message: "[BOT] Build main.js"
          file_pattern: "js-min/main.js"
  
