name: Run checks and make main.js

on:
  push:
    branches:
      - main
    paths:
      - 'js-src/*.js'
      - 'js-src/**/*.js'

jobs:
  ensure-newline:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run newline script
        run: ./tools/check_newline.sh

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5.0.1
        with:
          commit_message: "[BOT] Check newlines"
          file_pattern:
            - "js-src/**.js"
            - "js-src/**/*.js"

  build_main_js:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Build main.js
        run: ./tools/bundle.sh

      - name: Commit changes
        uses: stefanzweifel/git-auto-commit-action@v5.0.1
        with:
          commit_message: "[BOT] Build main.js"
          file_pattern: "js-min/main.js"

